In [5]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [6]:
data17 = []
for i in range(0,36):
    if i < 10:
        data17.append(pd.read_excel("C-17/DDW-C17-0{}00.XLSX".format(i), skiprows = [0,1,2,4,5]))
    else:
        data17.append(pd.read_excel("C-17/DDW-C17-{}00.XLSX".format(i), skiprows = [0,1,2,4,5]))

In [7]:
d = data17[0]
d.head()

,Code,Unnamed: 1,Code.1,Name,Persons,Males,Females,Code.2,1 st subsidiary languages,Persons.1,Males.1,Females.1,Code.3,2nd subsidiary languages,Persons.2,Males.2,Females.2,Unnamed: 17,Unnamed: 18
0,0,INDIA,1000.0,ASSAMESE,15311351.0,7810583.0,7500768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,INDIA,NaN,NaN,NaN,NaN,NaN,2000.0,BENGALI,2025303.0,1042862.0,982441.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,BODO,883.0,521.0,362.0,NaN,NaN
3,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,GUJARATI,11.0,9.0,2.0,NaN,NaN
4,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,HINDI,245880.0,153937.0,91943.0,NaN,NaN

In [2]:
#c19 ==> eduacation level and speaking lang
#c18 ==>    age group and lang

In [8]:
def calc_speakers(data):
    data = data[['Name', "Males", "Males.1", "Males.2", 'Females',  'Females.1',  'Females.2']]
    data = data.dropna(how='all')
    data.fillna(value = 0, inplace = True)
    sum1 = data['Males'].values.sum()
    sum2 = data['Males.1'].values.sum()
    si = (sum1-sum2)#/sum1*100
    sum3 = data['Males.2'].values.sum()
    do = (sum2-sum3)#/sum1*100
    thi = sum3#/sum1*100
    sum11 = data['Females'].values.sum()
    sum21 = data['Females.1'].values.sum()
    sif = (sum11-sum21)#/sum11*100
    sum31 = data['Females.2'].values.sum()
    dof = (sum21-sum31)#/sum11*100
    thif = sum31#/sum11*100
    return sum1, si, do ,thi, sum11, sif, dof, thif

In [9]:
final_d1 = {}
final_d2 = {}
final_d3 = {}
final_d1['state-code'] = []
final_d2['state-code'] = []
final_d3['state-code'] = []
final_d1['state'] = []
final_d2['state'] = []
final_d3['state'] = []

#final_d['Total Male'] = []
#final_d['Total Female'] = []
#final_d['Male One lang Speaker'] = []
#final_d['Female One lang Speaker'] = []
#final_d['Male Two lang Speaker'] = []
#final_d['Female Two lang Speaker'] = []
#final_d['Male Three lang Speaker'] = []
#final_d['Female Three lang Speaker'] = []
final_d1['male-percentage'] = []
final_d1['female-percentage'] = []
final_d2['male-percentage'] = []
final_d2['female-percentage'] = []
final_d3['male-percentage'] = []
final_d3['female-percentage'] = []
final_d1['p-value'] = []
final_d2['p-value'] = []
final_d3['p-value'] = []

for data in data17:
    s, a, b, c, s1, a1, b1, c1 = calc_speakers(data)
    final_d1['state'].append(data["Unnamed: 1"].unique()[0])
    final_d2['state'].append(data["Unnamed: 1"].unique()[0])
    final_d3['state'].append(data["Unnamed: 1"].unique()[0])
    final_d1['state-code'].append(data["Code"].unique()[0])
    final_d2['state-code'].append(data["Code"].unique()[0])
    final_d3['state-code'].append(data["Code"].unique()[0])
    
#     final_d['Total Male'].append(s)
#     final_d['Total Female'].append(s1)
#     final_d['Male One lang Speaker'].append(a)
#     final_d['Male Two lang Speaker'].append(b)
#     final_d['Male Three lang Speaker'].append(c)
#     final_d['Female One lang Speaker'].append(a1)
#     final_d['Female Two lang Speaker'].append(b1)
#     final_d['Female Three lang Speaker'].append(c1)
    final_d1['male-percentage'].append(a/s*100)
    final_d1['female-percentage'].append(a1/s1*100)
    final_d2['male-percentage'].append(b/s*100)
    final_d2['female-percentage'].append(b1/s1*100)
    final_d3['male-percentage'].append(c/s*100)
    final_d3['female-percentage'].append(c1/s1*100)
    succ = np.array([a,a1])
    tot_sample = np.array([s,s1])
    stats, p_value = proportions_ztest(count = succ, nobs=tot_sample, alternative = 'two-sided')
    final_d1['p-value'].append(p_value)
    if(p_value >= 0.025):
        print(data["Unnamed: 1"].unique()[0])
    succ = np.array([b,b1])
    stats, p_value = proportions_ztest(count = succ, nobs=tot_sample, alternative = 'two-sided')
    final_d2['p-value'].append(p_value)
    if(p_value >= 0.025):
        print("2",data["Unnamed: 1"].unique()[0])
    succ = np.array([c,c1])
    stats, p_value = proportions_ztest(count = succ, nobs=tot_sample, alternative = 'two-sided')
    final_d3['p-value'].append(p_value)
    
    sum1 = a1+b1+c1
    if(sum1 < 99.9):
        print(data["Unnamed: 1"].unique()[0])

2 ARUNACHAL PRADESH

In [10]:
final_data1 = pd.DataFrame(final_d1)
final_data2 = pd.DataFrame(final_d2)
final_data3 = pd.DataFrame(final_d3)

In [13]:
final_data3.head(36)

,state-code,state,male-percentage,female-percentage,p-value
0,0.0,INDIA,8.108334,6.037044,0.000000e+00
1,1.0,JAMMU & KASHMIR,18.955279,14.192766,0.000000e+00
2,2.0,HIMACHAL PRADESH,5.757763,4.339928,0.000000e+00
3,3.0,PUNJAB,29.945363,26.298118,0.000000e+00
4,4.0,CHANDIGARH,30.750539,30.207651,1.679826e-09
5,5.0,UTTARAKHAND,2.131838,1.582150,0.000000e+00
6,6.0,HARYANA,5.048102,4.127134,0.000000e+00
7,7.0,NCT OF DELHI,8.250652,7.906043,4.657723e-147
8,8.0,RAJASTHAN,1.808225,1.102840,0.000000e+00
9,9.0,UTTAR PRADESH,1.480652,1.089532,0.000000e+00
10,10.0,BIHAR,1.894823,1.312886,0.000000e+00
11,11.0,SIKKIM,30.775683,28.512349,3.820070e-83
12,12.0,ARUNACHAL PRADESH,33.150584,27.154513,0.000000e+00
13,13.0,NAGALAND,29.921759,24.205826,0.000000e+00
14,14.0,MANIPUR,24.763553,18.386362,0.000000e+00
15,15.0,MIZORAM,6.250957,3.368354,0.000000e+00
16,16.0,TRIPURA,6.889920,3.858428,0.000000e+00
17,17.0,MEGHALAYA,10.775275,7.740853,0.000000e+00
18,18.0,ASSAM,16.539392,11.241943,0.000000e+00
19,19.0,WEST BENGAL,3.822671,2.454962,0.000000e+00
20,20.0,JHARKHAND,5.705505,3.905132,0.000000e+00
21,21.0,ODISHA,15.836269,10.432802,0.000000e+00
22,22.0,CHHATTISGARH,1.910325,1.395648,0.000000e+00
23,23.0,MADHYA PRADESH,2.015643,1.427474,0.000000e+00
24,24.0,GUJARAT,16.453016,11.708092,0.000000e+00
25,25.0,DAMAN & DIU,14.541487,13.713339,1.334134e-08
26,26.0,DADRA & NAGAR HAVELI,22.840628,18.179514,2.278021e-244
27,27.0,MAHARASHTRA,19.668401,15.276290,0.000000e+00
28,28.0,ANDHRA PRADESH,9.039086,5.951769,0.000000e+00
29,29.0,KARNATAKA,14.593422,10.996295,0.000000e+00
30,30.0,GOA,53.484049,48.085154,0.000000e+00
31,31.0,LAKSHADWEEP,19.427588,11.311005,2.265306e-178
32,32.0,KERALA,10.819320,8.370938,0.000000e+00
33,33.0,TAMIL NADU,3.902244,2.879751,0.000000e+00
34,34.0,PUDUCHERRY,6.662574,4.855833,0.000000e+00
35,1000.0,ANDAMAN & NICOBAR ISLANDS,20.626901,17.366496,1.012381e-143

In [98]:
final_data1.to_csv("gender-india-1.csv")
final_data2.to_csv("gender-india-2.csv")
final_data3.to_csv("gender-india-3.csv")
print("gender-india.csv is created")