In [1]:
import pandas as pd
import numpy as np

In [3]:
data17 = []
for i in range(0,36):
    if i < 10:
        data17.append(pd.read_excel("C-17/DDW-C17-0{}00.XLSX".format(i), skiprows = [0,1,2,4,5]))
    else:
        data17.append(pd.read_excel("C-17/DDW-C17-{}00.XLSX".format(i), skiprows = [0,1,2,4,5]))

In [4]:
# data18 = pd.read_excel("C-18/DDW-C17-0000.XLSX", skiprows = [0,1,2,4])
# data19 = pd.read_excel("C-19/DDW-C17-0000.XLSX", skiprows = [0,1,2,4])

In [5]:
#c19 ==> eduacation level and speaking lang
#c18 ==>    age group and lang

In [6]:
def calc_speakers(data):
    data = data[['Name', "Persons", "Persons.1", "Persons.2"]]
    data = data.dropna(how='all')
    data.fillna(value = 0, inplace = True)
    sum1 = data['Persons'].values.sum()
    sum2 = data['Persons.1'].values.sum()
    si = (sum1-sum2)#/sum1*100
    sum3 = data['Persons.2'].values.sum()
    do = (sum2-sum3)#/sum1*100
    thi = sum3#/sum1*100
    return si, do ,thi

In [40]:
final_d = {}
final_d['State'] = []
final_d['One lang Speaker'] = []
final_d['Two lang Speaker'] = []
final_d['Three lang Speaker'] = []
final_d['Ratio_3to2'] = []
final_d['Ratio_2to1'] = []
for data in data17:
    a, b, c = calc_speakers(data)
    final_d['State'].append(data["Unnamed: 1"].unique()[0])
    final_d['One lang Speaker'].append(a)
    final_d['Two lang Speaker'].append(b)
    final_d['Three lang Speaker'].append(c)
    final_d['Ratio_3to2'].append(c/b)
    final_d['Ratio_2to1'].append(b/a)

In [41]:
final_data = pd.DataFrame(final_d)

In [42]:
final_data.head(40)

,State,One lang Speaker,Two lang Speaker,Three lang Speaker,Ratio_3to2,Ratio_2to1
0,INDIA,895866207.0,228979190.0,86009580.0,0.375622,0.255595
1,JAMMU & KASHMIR,6358112.0,4086970.0,2096220.0,0.512903,0.642796
2,HIMACHAL PRADESH,5621897.0,895419.0,347286.0,0.387847,0.159273
3,PUNJAB,14708114.0,5205311.0,7829913.0,1.504216,0.353907
4,CHANDIGARH,475530.0,257941.0,321979.0,1.248266,0.542428
5,UTTARAKHAND,8328536.0,1569934.0,187822.0,0.119637,0.188501
6,HARYANA,19724101.0,4456790.0,1170571.0,0.262649,0.225957
7,NCT OF DELHI,9970727.0,5458981.0,1358233.0,0.248807,0.547501
8,RAJASTHAN,61075251.0,6466435.0,1006751.0,0.155689,0.105877
9,UTTAR PRADESH,176938732.0,20287945.0,2585664.0,0.127448,0.114661
10,BIHAR,87337667.0,15079213.0,1682572.0,0.111582,0.172654
11,SIKKIM,221578.0,207597.0,181402.0,0.873818,0.936903
12,ARUNACHAL PRADESH,497782.0,467394.0,418551.0,0.895499,0.938953
13,NAGALAND,748779.0,692242.0,537481.0,0.776435,0.924494
14,MANIPUR,1467174.0,771802.0,616818.0,0.799192,0.526047
15,MIZORAM,787503.0,256737.0,52966.0,0.206305,0.326014
16,TRIPURA,2405316.0,1070024.0,198577.0,0.185582,0.444858
17,MEGHALAYA,2144569.0,547389.0,274931.0,0.502259,0.255244
18,ASSAM,16744985.0,10108094.0,4352497.0,0.430595,0.603649
19,WEST BENGAL,76250267.0,12144843.0,2881005.0,0.237220,0.159276
20,JHARKHAND,22987414.0,8407681.0,1593039.0,0.189474,0.365751
21,ODISHA,28149194.0,8299746.0,5525278.0,0.665717,0.294848
22,CHHATTISGARH,22160975.0,2961654.0,422569.0,0.142680,0.133643
23,MADHYA PRADESH,62818127.0,8550729.0,1257953.0,0.147116,0.136119
24,GUJARAT,34547351.0,17321770.0,8570571.0,0.494786,0.501392
25,DAMAN & DIU,126618.0,82027.0,34602.0,0.421837,0.647830
26,DADRA & NAGAR HAVELI,144726.0,127467.0,71516.0,0.561055,0.880747
27,MAHARASHTRA,54954472.0,37695132.0,19724729.0,0.523270,0.685934
28,ANDHRA PRADESH,62997443.0,15238958.0,6344376.0,0.416326,0.241898
29,KARNATAKA,36842703.0,16420465.0,7832129.0,0.476974,0.445691
30,GOA,332393.0,384903.0,741249.0,1.925807,1.157976
31,LAKSHADWEEP,45920.0,8572.0,9981.0,1.164372,0.186672
32,KERALA,25242674.0,4974574.0,3188813.0,0.641022,0.197070
33,TAMIL NADU,51730760.0,17969107.0,2447163.0,0.136187,0.347358
34,PUDUCHERRY,855661.0,320627.0,71665.0,0.223515,0.374713
35,ANDAMAN & NICOBAR ISLANDS,123156.0,184717.0,72708.0,0.393618,1.499862

In [53]:
final_data = final_data.sort_values("Ratio_3to2", ascending = False)

In [54]:
top_data = final_data.iloc[0:3,:]
below_data = final_data.iloc[-3:,:]
below_data = below_data.sort_values("Ratio_3to2")

In [55]:
top_data.head()

,State,One lang Speaker,Two lang Speaker,Three lang Speaker,Ratio_3to2,Ratio_2to1
30,GOA,332393.0,384903.0,741249.0,1.925807,1.157976
3,PUNJAB,14708114.0,5205311.0,7829913.0,1.504216,0.353907
4,CHANDIGARH,475530.0,257941.0,321979.0,1.248266,0.542428

In [56]:
final32 = pd.concat([top_data, below_data])

In [57]:
final32.head(7)

,State,One lang Speaker,Two lang Speaker,Three lang Speaker,Ratio_3to2,Ratio_2to1
30,GOA,332393.0,384903.0,741249.0,1.925807,1.157976
3,PUNJAB,14708114.0,5205311.0,7829913.0,1.504216,0.353907
4,CHANDIGARH,475530.0,257941.0,321979.0,1.248266,0.542428
10,BIHAR,87337667.0,15079213.0,1682572.0,0.111582,0.172654
5,UTTARAKHAND,8328536.0,1569934.0,187822.0,0.119637,0.188501
9,UTTAR PRADESH,176938732.0,20287945.0,2585664.0,0.127448,0.114661

In [48]:
final_data = final_data.sort_values("Ratio_2to1", ascending = False)
top_data = final_data.iloc[0:3,:]
below_data = final_data.iloc[-3:,:]
below_data = below_data.sort_values("Ratio_2to1")
final21 = pd.concat([top_data, below_data])

In [49]:
final21.head()

,State,One lang Speaker,Two lang Speaker,Three lang Speaker,Ratio_3to2,Ratio_2to1
35,ANDAMAN & NICOBAR ISLANDS,123156.0,184717.0,72708.0,0.393618,1.499862
30,GOA,332393.0,384903.0,741249.0,1.925807,1.157976
12,ARUNACHAL PRADESH,497782.0,467394.0,418551.0,0.895499,0.938953
8,RAJASTHAN,61075251.0,6466435.0,1006751.0,0.155689,0.105877
9,UTTAR PRADESH,176938732.0,20287945.0,2585664.0,0.127448,0.114661

In [60]:
final32[['State','Ratio_3to2']].to_csv("3-to-2-ratio.csv")
final21[['State','Ratio_2to1']].to_csv("2-to-1-ratio.csv")